@model ApplicationUser
@inject UserManager<ApplicationUser> UserManager
@{
    var instructions = Model.Instructions.ToList();
}

<h2 style="text-align: center">Страница пользователя @Model.UserName</h2>

<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align: center">Инструкции</h3>
        </div>
        <div class="panel-body" style="padding: 0">
            <form asp-action="InstructionList" asp-controller="Instruction"
                  asp-all-route-data="@{new Dictionary<string, string> { { "categoryId", null }, { "userId", Model.Id } }}" method="post">
                <a asp-area="" class="list-group-item">
                    Количество: <span class="badge">@Model.Instructions.Count</span>
                </a>
            
            </form>
            @if (Model.Id == UserManager.GetUserId(User) || User.IsInRole("Admin"))
            {
                <a asp-area="" asp-controller="Instruction" asp-action="AddInstruction"
                   asp-all-route-data="@{new Dictionary<string, string> {{"userId", Model.Id}}}"
                   method="get" class="list-group-item">
                    Добавить инструкцию
                </a>
            }
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" style="text-align: center">Управление</h3>
        </div>
        <div class="panel-body" style="padding: 0">
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="list-group-item">Открыть управление</a>
        </div>
    </div>
</div>
<form asp-action="InstructionList" asp-controller="Instruction"
      asp-all-route-data="@{new Dictionary<string, string> { { "categoryId", null }, { "userId", Model.Id } }}" method="post">
    <button type="submit">Список инструкций пользователя</button>
</form>




