@model Comment

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin: 0">
                <textarea asp-for="Text" class="form-control" style="resize: none; position: absolute; width: 95.7%"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group" style="text-align: right">
                <input type="submit" value="Create" class="btn btn-xs" style="position: absolute; top: 345%; right: 2.1%; z-index: 999" />
            </div>
        </form>
    </div>
</div>

