@model IEnumerable<Instruction>
@{
    ViewData["Title"] = "InstructionList";
    var instructions = Model.ToList();
    instructions.Sort((x, y) => y.Time.CompareTo(x.Time));
}
<h2 style="text-align: center">Instruction list</h2><br/>
<body>
    <form method="get">
        <div>
            @foreach (var instruction in instructions)
            {
                @Html.Partial("Instruction", instruction)
            }
        </div>
    </form>
</body>