@{
    ViewData["Title"] = "About";
}
<h2>Условие курсового проекта</h2>
<h4>Java(Spring,MySQL) / .NET(C#,ASP.NET Core,SQL Server) / Ruby(Ruby on Rails,MySQL) / Front(Angular,Node.js,MySQL)</h4>

<style>
    p {
        text-indent: 3rem;
        text-align: justify;
    }
</style>
<div>
    <p>В качестве клиентского фреймворка рекомендуется использовать Angular.</p>
    <p>В качестве CSS-фреймворка рекомендуется использовать Bootstrap
        (можно и что-то другое, но какой-то CSS-фреймворк должен быть). Адаптивная верстка, корректное отображение на телефоне.</p>
    <p>Требуется разработать сайт для шаринга инструкций
        (вида "как из говна и палок собрать реактивный двигатель").</p>
    <p>Неаутентифицированным пользователи могут только читать инструкции
        (доступен поиск, недоступно создание инструкций, комментарии, лайки и рейтинги).</p>
    <p>Аутентифицированные пользователи имеют доступ ко всему, кроме админки.</p>
    <p>Админка позволяет управлять пользователями
        (просматривать, блокировать, удалять, назначать админами). Администратор видит каждую страницу пользователя и
        каждую инструкцию как автор (например, может редактировать или создать от имени пользователя с его страницы новую).</p>
    <p>Требуется поддерживать аутентификацию через соцсети
        (обязательно - Твиттер, Фейсбук, Контакт).</p>
    <p>На каждой странице доступен полнотекстовый поиск по сайту (результаты поиска - всегда инструкции, например, если текст найден в комментарии к инструкции, то выводится ссылка на инструкцию). Нельзя использовать фул-скан базы, обязательно использовать движок full-text search.</p>
    <p>У каждого пользователя есть его личная страница, на которой он управляет списком своих инструкции (таблица с фильтраций и сортировками, возможность создать/удалить/редактировать инструкцию), поля с информаций о пользователе (in-place editing) и "медальки".</p>
    <p>Каждая инструкция состоит из: название, краткое описание, картинка, тема (из фиксированного набора тем, например, "Электроника", "Досуг и быт" и проч.), тэги (вводится несколько тэгов, необходимо автодополнение - когда пользователь начинает вводить тэг, выпадает список с вариантами слов, которые уже вводились ранее на сайте). Помимо этого, инструкция содержит "шаги" - название, блок текста с поддержкой форматирования markdown и от одной до трех картинок (к шагу можно загрузить или удалить картинки, они отображаются автоматически под текстом шага). Шаги автомагически формируют оглавление и набор элементов управления для перехода по шагам.</p>
    <p>Все картинки сохраняются в облаке, все картинки загружаются драг-н-дропом.</p>
    <p>На главной странице отображаются: последние обновленные инструкции, инструкции с самыми большими рейтингами, облако тэгов.</p>
    <p>Для инструкции автомагически генерируется "меню навигации" - пред. шаг, следующий шаг, выбор из списка шагов (по названиям).</p>
    <p>После каждого шага отображаются комментарии (но общие на всю инструкцию, не отдельно по шагам). Комментарии линейные, нельзя комментировать комментариий, новый добавляется только "в хвост". Необходимо реализовать автоматическую подгрузку комментариев - если у меня открыта страница с комментариями и кто-то другой добавляет новый, он у меня автомагически появляется (возможна задержка в 2-5 секунд).</p>
    <p>Каждый пользовать может проставить "рейтинг" (от 1 до 5 звездочек) инструкции (не более одного от одного пользователя на инструкцию) - средний рейтинг отображется у инструкции. Пользователь может поставить лайк у комментария (не более одного на один комментарий от одного пользователя).</p>
    <p>Приложение должно поддерживать "медальки" - по достижению какого-то результата на странице пользователя отображается "медалька" (маленькие версии отображаются везде на сайте после имени пользователя, имя всегда является ссылкой на страницу пользователя). Например: "создал 5 инструкций", "собрал 20 лайков за комментарии", "получил за инструкцию рейтинг 4+ с количеством отзывов 10+" и проч. (не менее разных 4 медалей).</p>
    <p>Сайт должен поддерживать два языка: русский и английский (пользователь выбирает и выбор сохраняется). Сайт должен поддерживать два оформления (темы): светлое и темное (пользователь выбирает и выбор сохраняется).</p><br/>
</div>
<div>
    <h4>Требования со звездочкой (после реализации остальных требований):</h4>
    <p>* Кнопка при отображении инструкции, которая позволяет скачать инструкцию в PDF (генерируется сайтом автоматически).</p>
    <p>* Рекомендательная система на основе комментариев и райтингов: "возможно, вам будет интересно", выдается список инструкций.</p>
    <p>* Рендеринг формул (пользователь редактирует LaTeX).</p>
    <p>* Админка для управления отображеним рекламы в инструкциях — таргетирование по темам (множественный выбор), загрузка баннеров и т.п.</p>
</div>
