@using iCoursework.Models
@using iCoursework.Controllers
@model IEnumerable<iCoursework.Models.Instruction>
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<h2 align="center">Главная страница с главной кнопкой</h2><br/><br/>
<div style="text-align: center">
    <form asp-controller="Instruction" asp-action="InstructionList">
        <button type="submit" class="btn btn-lg btn-danger">Список инструкций</button>
    </form>
</div>
